{% extends 'base.html' %}
{% load static %}


{% block head %}
    <script>
    function scrollWin() {
      window.scrollTo(0, 500);
    }
    </script>
{% endblock %}

{% block body %}

    <div class="box">
        <h1>Hungry ? </h1>
        <h4>Order food Online !</h4>
        <h4>Explore the best Restaurants in Your City</h4>
        <div class="arrow bounce">
            <i id="scroll_down" class="fas fa-arrow-down" onclick="scrollWin()"></i>
        </div>
    </div>


    <form class="search-bar" method="GET" action="{% url 'food:search' %}">

        <input class = "bar" type="text" name='q' placeholder="Enter restaurant name" value="{{ request.GET.q }}">
        <button class="search-btn" type="submit" ><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>

    <div class="content container">
        <h1>Popular Brands</h1>
            <br><br>
            <div class="row">
            {% for restaurant in pop_restaurants %}
                    <div class="col-md-3.5 pr-4">
                        <a href="/menu/{{ restaurant.name }}">
                            <div class="post">
                                <img src="{{restaurant.image.url}}" alt="chapathi" width="330px" height="220px" />
                                <h2 class="title"><a href="/menu/{{ restaurant.id }}">{{ restaurant.name }}</a></h2>
                                <h5><p class="post-text" >{{ restaurant.phone}}</p></h5>
                                <h5><p class="post-text">{{ restaurant.address }}</p></h5>
                                <span><i class="far fa-grin-stars"> {{ restaurant.rating}} </i></span>
                                <br>
                            </div>
                        </a>
                    </div>
            {% endfor %}
            </div>
        <p style="color: orange;">---------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <br>

        <h1>Average Brands</h1>
        <br><br>
            <div class="row">
            {% for restaurant in avg_restaurants %}
                    <div class="col-md-3.5 pr-4">
                        <a href="/menu/{{ restaurant.name }}">
                            <div class="post">
                                <img src="{{restaurant.image.url}}" alt="chapathi" width="330px" height="220px" />
                                <h2 class="title"><a href="/menu/{{ restaurant.id }}">{{ restaurant.name }}</a></h2>
                                <h5><p class="post-text" >{{ restaurant.phone}}</p></h5>
                                <h5><p class="post-text">{{ restaurant.address }}</p></h5>
                                <span><i class="far fa-grin-stars"> {{ restaurant.rating}} </i></span>
                                <br>
                            </div>
                        </a>
                    </div>
            {% endfor %}
            </div>
        <p style="color: orange;">---------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <br>

        <h1>Offer Zone</h1>
        <br><br>
            <div class="row">
            {% for offer in offer_zone %}
                    <div class="col-md-3.5 pr-4">
                        <a href="/menu/{{ offer.name }}">
                            <div class="post">
                                <img src="{{offer.name.image.url}}" alt="chapathi" width="330px" height="220px" />
                                <h2 class="title"><a href="/menu/{{ offer.name.id }}">{{ offer.name }}</a></h2>
                                <h5><p class="post-text" >{{ offer.value}}% OFF </p></h5>
                                <h5><p class="post-text">{{ offer.name.address }}</p></h5>
                                <span><i class="far fa-grin-stars"> {{ offer.name.rating}} </i></span>
                                <br>
                            </div>
                        </a>
                    </div>
            {% endfor %}
            </div>
        <br>
     </div>	
{% endblock %}